body {
    background-color: coral;
    width: 100%;
}

.btn {
    border: 1px solid red;
    text-align: center;
    background-color: violet;
    color: seagreen;
    font-weight: bolder;
}

#alt {
    margin: -20px 10px;
    color: red;
}

.sec {
    background-color: #4b5320;
}

#arif {
    border: 3px solid red;
    border-radius: 50%;
    padding: 1px;
}

#about {
    text-decoration: underline;
    color: #306eff;
    background-color: #c6deff;
    padding-bottom: 5px;
}

#na {
    color: #b0bf1a;
    font-family: cursive;
    font-weight: bolder;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 40px;
}

.tog {
    color: #ee9a4d;
    font-weight: bolder;
}

.txt {
    color: #b8860b;
    text-align: justify;
}

.tx {
    color: #a0522d;
    text-indent: 35px;
}

#dis {
    pointer-events: none;
    opacity: 0.2;
}

.fa:hover {
    transform: scale(1.1);
}

#hire {
    font-size: 30px;
    color: red;
    padding-bottom: 20px;
    font-family: monospace;
    font-weight: bolder;
}

.modal-header {
    background-color: sandybrown;
}

.modal-footer {
    background-color: darkslateblue;
}

#email {
    font-weight: bold;
    font-family: cursive;
    color: slateblue;
    display: block;
}

#inp {
    border-radius: 3px;
    padding: 2px 10px;
    font-size: 20px;
}

#btne {
    border: none;
    color: red;
    font-size: 15px;
}

#mas {
    border: 2px solid black;
}