body {
    background-color: coral;
}

.btn {
    border: 1px solid red;
    text-align: center;
    background-color: violet;
    color: seagreen;
    font-weight: bolder;
}

#alt {
    margin: -20px 10px;
    color: red;
}

.sec {
    background-color: #4b5320;
}

#arif {
    width: 300px;
    height: 350px;
    border: 3px solid red;
    border-radius: 50%;
    padding: 1px;
}

#about {
    text-decoration: underline;
    color: #306eff;
    background-color: #c6deff;
    padding-bottom: 5px;
}

#na {
    color: #b0bf1a;
    font-family: cursive;
    font-weight: bolder;
    padding-top: 10px;
    padding-left: 20px;
}

.tog {
    color: #ee9a4d;
    font-weight: bolder;
}

.txt {
    color: #b8860b;
}

.tx {
    color: #a0522d;
}

#dis {
    pointer-events: none;
    opacity: 0.5;
}

.fa:hover {
    transform: scale(1.1);
}