.container-fluid {
    margin-left: -10px;
    padding: 10px;
}

* {
    text-transform: uppercase;
    list-style: none;
}

header {
    background-color: #737ca1;
    height: 7vh;
    width: 100%;
}

nav {
    display: flex;
    width: 100%;
}

.logo-left {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    padding-left: 10px;
}

.logo-left h1 {
    color: #b5eaaa;
}

ul {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 10px;
}


/* .logo-right {
    display: none;
} */

ul li {
    padding: 10px 10px;
}

ul li a {
    color: #fbe7a1;
    text-decoration: none;
    padding: 5px 10px;
}

.card-header {
    background-color: #123456;
    color: #e56717;
    font-family: cursive;
    font-size: 30px;
    text-align: center;
}

.card-body {
    background: #f67280;
    color: #f9db24;
    font-size: 18px;
    font-family: monospace;
    text-align: center;
}

body {
    background-color: #addfff;
}

.card {
    margin-right: -20px;
}

.container span {
    height: 4px;
    width: 35px;
    background-color: black;
    z-index: 10;
    transition: all 0.5s ease-in-out;
    position: absolute;
    border-radius: 5px;
}

.men {
    position: absolute;
    right: 50px;
    top: 13px;
    display: none;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.container span:nth-child(2) {
    height: 4px;
    width: 35px;
    transition: all 0.5s ease-in-out;
    background-color: black;
    border-radius: 5px;
    z-index: 10;
    top: 16px;
    position: absolute;
}

.container span:nth-child(3) {
    transition: all 0.5s ease-in-out;
    height: 4px;
    border-radius: 5px;
    width: 35px;
    background-color: #483c32;
    top: 8px;
    position: absolute;
    z-index: 10;
}

.togle span:nth-child(3) {
    background-color: black;
    border-radius: 5px;
    z-index: 10;
    top: 16px;
    position: absolute;
    transform: translateX(-60px);
    height: 0px;
    width: 0px;
}

.togle #t2 {
    background-color: black;
    border-radius: 5px;
    z-index: 10;
    left: 0px;
    top: 5px;
    position: absolute;
    transform: rotate(45deg);
    height: 4px;
    width: 30px;
}

.togle #t1 {
    height: 4px;
    width: 30px;
    transform: rotate(-45deg);
    background-color: black;
    z-index: 10;
    position: absolute;
    border-radius: 5px;
    left: 0px;
    top: 5px;
}

.togle {
    padding: 3px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .men {
        display: inline;
    }
    .logo-left {
        padding-top: 5px;
    }
    .logo-right {
        display: none;
        background-color: green;
        margin-top: 50px;
    }
    ul {
        display: table;
        z-index: 100;
        background-color: #123456;
        font-size: 25px;
        width: 97%;
        border-radius: 10px;
    }
    ul li {
        display: block;
        text-align: center;
    }
    ul li a {
        display: block;
    }
}